# unix-y stuff, kinda
*.o
*.d
*.swp
*/*.swp
*/*/*.swp
*.diff
*.patch
*.orig
*.rej
dat/*.lev
dat/*.tag
dat/data
dat/dungeon
dat/dungeon.pdf
dat/dungeon2
dat/dungeon2.pdf
dat/dungeon3
dat/dungeon3.pdf
dat/dungeon4
dat/dungeon4.pdf
dat/dungeon5
dat/dungeon5.pdf
dat/dungeon6
dat/dungeon6.pdf
dat/dungeon7
dat/dungeon7.pdf
dat/dungeon8
dat/dungeon8.pdf
dat/nhshare
dat/nhushare
dat/nhdat
dat/options
dat/oracles
dat/quest.dat
dat/quest_levs
dat/rumors
dat/spec_levs
include/date.h
include/dgn_comp.h
include/filename.h
include/lev_comp.h
include/onames.h
include/pm.h
include/verinfo.h
include/vis_tab.h
src/Sysunix
src/config.h-t
src/hack.h-t
src/monstr.c
src/nhdat
src/slex
src/vis_tab.c
util/dgn_comp
util/dgn_comp.c
util/dgn_lex.c
util/dgn_yacc.c
util/dlb
util/lev_comp
util/lev_comp.c
util/lev_lex.c
util/lev_yacc.c
util/recover
util/makedefs

# the build system itself
/Makefile
dat/Makefile
doc/Makefile
src/Makefile
util/Makefile
/GNUmakefile
/local.mk

# documentation for distribution
# this needs to be tracked, because some build systems don't generate it
#doc/Guidebook.txt
#doc/slashem.txt
#doc/lev_comp.txt
#doc/dgn_comp.txt
#doc/recover.txt
#doc/dlb.txt

# windows-specific stuff
compile.bat
binary/*
build/*
dat/dlb.lst
dat/dlb2.lst
dat/dlb_main.exe
dat/ttyoptions
include/win32api.h
nethack.dsw
src/*.lev
src/dat.tag
src/dgn_comp.exe
src/dgn_flex.c
src/dgn_main.c
src/dgn_yacc.c
src/dlb_main.c
src/dlb_main.exe
src/gamedir.tag
src/install.tag
src/lev_comp.exe
src/lev_flex.c
src/lev_main.c
src/lev_yacc.c
src/makedefs.c
src/makedefs.exe
src/makefile-orig
src/makefile.bcc
src/makefile.gcc
src/nhlan.c
src/panic.c
src/recover_main.c
src/recover.exe
src/slashem.lnk
src/sp_lev.tag
src/utility.tag
dat/Verknüpfung mit dat.lnk
dat/template.des
src/Makefile.bcc-orig
src/Makefile.gcc-orig
sys/unixserver/Makefile.dat
sys/unixserver/Makefile.doc
sys/unixserver/Makefile.src
sys/unixserver/Makefile.top
sys/unixserver/Makefile.utl
sys/unixserver/setup.sh
src/cursmake.gcc
src/graphicschk
lib/libpdcurses.a
lib/libSDL.a
src/o/gamedir.tag
util/dgn_comp.exe
src/o/install.tag
src/o/obj.tag
src/o/sp_lev.tag
src/o/utility.tag
util/dgn_flex.c
util/dlb_main.exe
util/lev_comp.exe
util/lev_flex.c
util/makedefs.exe
util/uudecode.exe
